BenQGuru.eMES.WinCeClient/Web References/LocStorTrans/LocStorTrans.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAutoDocmentsNo">
        <s:complexType />
      </s:element>
      <s:element name="CreateAutoDocmentsNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateAutoDocmentsNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newIqcNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromCarton" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDqmCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromCarton" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDqmCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDqmCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Commit_Click">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="statusList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tLocationCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromCarton" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tcarton" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inputsn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inputqty" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Commit_ClickResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Commit_ClickResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocStorTransView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dqmCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromCartonno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="locationCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cartonno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocStorTransViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocStorTransViewResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateAutoDocmentsNoSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAutoDocmentsNo" />
  </wsdl:message>
  <wsdl:message name="CreateAutoDocmentsNoSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAutoDocmentsNoResponse" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="GetDqmCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetDqmCode" />
  </wsdl:message>
  <wsdl:message name="GetDqmCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetDqmCodeResponse" />
  </wsdl:message>
  <wsdl:message name="Commit_ClickSoapIn">
    <wsdl:part name="parameters" element="tns:Commit_Click" />
  </wsdl:message>
  <wsdl:message name="Commit_ClickSoapOut">
    <wsdl:part name="parameters" element="tns:Commit_ClickResponse" />
  </wsdl:message>
  <wsdl:message name="LocStorTransViewSoapIn">
    <wsdl:part name="parameters" element="tns:LocStorTransView" />
  </wsdl:message>
  <wsdl:message name="LocStorTransViewSoapOut">
    <wsdl:part name="parameters" element="tns:LocStorTransViewResponse" />
  </wsdl:message>
  <wsdl:portType name="LocStorTransSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateAutoDocmentsNo">
      <wsdl:input message="tns:CreateAutoDocmentsNoSoapIn" />
      <wsdl:output message="tns:CreateAutoDocmentsNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDqmCode">
      <wsdl:input message="tns:GetDqmCodeSoapIn" />
      <wsdl:output message="tns:GetDqmCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Commit_Click">
      <wsdl:input message="tns:Commit_ClickSoapIn" />
      <wsdl:output message="tns:Commit_ClickSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LocStorTransView">
      <wsdl:input message="tns:LocStorTransViewSoapIn" />
      <wsdl:output message="tns:LocStorTransViewSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LocStorTransSoap" type="tns:LocStorTransSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAutoDocmentsNo">
      <soap:operation soapAction="http://tempuri.org/CreateAutoDocmentsNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDqmCode">
      <soap:operation soapAction="http://tempuri.org/GetDqmCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Commit_Click">
      <soap:operation soapAction="http://tempuri.org/Commit_Click" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocStorTransView">
      <soap:operation soapAction="http://tempuri.org/LocStorTransView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LocStorTransSoap12" type="tns:LocStorTransSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAutoDocmentsNo">
      <soap12:operation soapAction="http://tempuri.org/CreateAutoDocmentsNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDqmCode">
      <soap12:operation soapAction="http://tempuri.org/GetDqmCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Commit_Click">
      <soap12:operation soapAction="http://tempuri.org/Commit_Click" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocStorTransView">
      <soap12:operation soapAction="http://tempuri.org/LocStorTransView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocStorTrans">
    <wsdl:port name="LocStorTransSoap" binding="tns:LocStorTransSoap">
      <soap:address location="http://localhost/TDTech/BenQGuru.eMES.Web.WebService/LocStorTrans.asmx" />
    </wsdl:port>
    <wsdl:port name="LocStorTransSoap12" binding="tns:LocStorTransSoap12">
      <soap12:address location="http://localhost/TDTech/BenQGuru.eMES.Web.WebService/LocStorTrans.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>